<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 class="text-center mt-3">Sign up</h1> <hr>
        </div>
    </div>
</div>

<%= render 'form', btn_msg: 'Sign up' %>
