<div class="home-container">
    <h1>You can go wherever you want to go...</h1>
    <h2>so where do you want to go?</h2>
    <h5>Elearning application © Yoshihiro Daisuke</h5>
    <p class="text-right"><%= link_to 'Home', root_path %></p>

</div>