@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.home-container {
    background-image: url("alexis-antoine-1450993-unsplash (1).jpg");
    height: 800px;
    background-size: cover;
    text-align: center;
    position: relative;
}
  .home-container h1 {
    opacity: 0.2;
    font-size: 45px;
    padding-top: 40px;
  }

  .home-container h2 {
    opacity: 0.2;
    margin-top: 60px;
  }

  .home-container h5{
      text-align-last: left;
  }


.style{
  position: absolute;
  bottom:-170px;
  right: 20px;
  color:white;
  opacity: 0.7;
}